.container {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 37px;
    text-align: center;
    margin: 25px 0;
  }

  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
  }
}
