.container {
  height: 370px;
  width: 22vw;

  margin-bottom: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;

  .background {
    width: 100%;
    height: 90%;
    background-size: cover;
    background-position: center;
  }

  .footer {
    width: 100%;
    height: 10%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 20px;

    .name {
      width: 80%;
    }

    .price {
      width: 20%;
      text-align: end;
    }
  }
}
