.container {
  width: 100%;

  display: flex;
  flex-direction: column;

  .title {
    font-size: 30px;
    margin-bottom: 25px;
  }

  .preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
