.button {
  min-width: 150px;
  width: auto;
  padding: 0px 35px;

  background-color: black;
  color: white;

  font-size: 20px;

  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  line-height: 50px;
  letter-spacing: 0.5px;

  border: none;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: black;
    outline: 1px solid black;
  }

  &.googleBtn {
    background-color: #4285f4;
    color: white;
    outline: none;

    &:hover {
      background-color: #2d6cd1;
    }
  }
}
